
:root {
  --font: 'Oxygen', sans-serif;
  --primary: #42E2B8;
  --gradient: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
  --black: black;
}

body {
  font-family: var(--font);
  background: var(--gradient) ;
}

.h1 {
  font-size: 59px;
  line-height: 95px;
  font-weight: 700;
}

.h3 {
  font-size: 48px;
  line-height: 77px;
}

.social-item {
  background: var(--primary);
  display: inline-block;
  inline-size: 44px;
  block-size: 44px;
  text-align: center;
  line-height: 44px;
  border-radius: 4px;
  border: 2px solid var(--black);
}

.social-item img {
  vertical-align: middle;
}

.btn {
  /* font-family: var(--font); */
  border-radius: 90px;
  letter-spacing: 1.25px;
  background: initial;
  block-size: 50px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  border: 2px solid var(--black);
  font-weight: bold;
}

.btn.primary {
  background: var(--primary);
}

.btn.secondary {
}

.btn.secondary img{
  position: relative;
  bottom: 1px;
}
.btn i {
  display: inline-block;
}
.btn span {
  vertical-align: middle;
}
.btn i img {
  vertical-align: middle;
}